doctype html
html(lang='kr', ng-app="myApp")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/base.css')
    link(data-require='bootstrap-css@3.0.0', data-semver='3.0.0', rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(data-require='font-awesome@4.3.0', data-semver='4.3.0', rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic')
    link(rel='stylesheet', href='../bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='../bootstrap/dist/css/bootstrap-theme.css')


    //|<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap-responsive.css">
    block css
    block js
    if ENV_DEVELOPMENT
      script(src='http://localhost:35729/livereload.js')
  body(layout="column")
    header
      p.logo.left SPEECHER
      .top-menu.right
        a(href="/#write")
          button.md-raised.md-button.md-default-theme() 대본작성
        a(ng-href="/#index")
          button.md-raised.md-button.md-default-theme() 대본목록
        img(alt="프로필 이미지", src="/images/default_profile_image.png")
        p 반상현
  main
    block content
  footer
    //Angular Material Dependencies
    script(src='angular/angular.min.js')
    script(src='angular-animate/angular-animate.min.js')
    script(src='angular-aria/angular-aria.min.js')
    script(src='angular-route/angular-route.min.js')
    script(src='angular-cookies/angular-cookies.min.js')
    script(src='angular-material/angular-material.min.js')
    script(src='../jquery/dist/jquery.min.js')
    script(src='../bootstrap/dist/js/bootstrap.min.js')
    script(src='../momentjs/min/moment.min.js')
    script(src='../momentjs/min/locales.min.js')
    script(src='../humanize-duration/humanize-duration.js')
    script(src='../angular-timer/dist/angular-timer.min.js')
    script(src='../angular-timer/dist/assets/js/angular-timer-all.min.js')

    script(src='ng-facebook/ngFacebook.js')
    script(src='angular-google-plus/dist/angular-google-plus.min.js')
    script(src='angular-webspeech-directive/dist/angular-webspeech-directive.js')
    script(src='angular-svg-round-progressbar/build/roundProgress.min.js')
    script(src='angular-diff/angular-diff.js')
    script(src='../angular-svg-round-progressbar/build/roundProgress.min.js')
    script(src='../js/timer.js')

    script(src='angularjs/app.js')
    script(src='angularjs/controllers/login.controller.js')
    script(src='angularjs/controllers/write.controller.js')
    script(src='angularjs/controllers/index.controller.js')
    script(src='angularjs/controllers/speech.controller.js')
    script(src='angularjs/controllers/choiceCtrl.js')
    script(src='../angularjs/controllers/testCtrl.js')
    script(src='../angularjs/controllers/choiceCtrl.js')
    script(src='../angularjs/controllers/testCtrl.js')
    script(src = 'angularjs/directives/write.directive.js')
    script(src='angularjs/services/login.service.js')
    script(src='angularjs/services/script.service.js')
    script(src='../angularjs/services/choice.service.js')