extends layout
block content
  .flex
    .boxL.border.p70(ng-controller="TextlistCtrl", , ng-cloak='' )
      md-toolbar.md-theme-light
        h2.md-toolbar-tools
          span 대본 목록
      md-content
        md-list
          md-list-item.md-3-line(ng-repeat='item in texts')
            .md-list-item-text
              h3 {{item.what}}
              h4 {{item.who}}
              p {{item.notes}}
            md-divider(ng-if='!$last')
    .boxR.border.p30(ng-controller='WordCtrl', layout='column', ng-cloak='')
      md-toolbar.md-theme-light
        h2.md-toolbar-tools
          span 자주 틀리는 단어

      md-chips(ng-repeat='item in words')
        md-chip(id="{{item.id}}") {{item.word}}({{item.count}})


          //// Static chips are transcluded
          //md-chip {{ctrl.chipText}}






block script
  //script(src='/angularjs/textlist-controller.js')
