body{
  margin:auto !important;
}
.body-bg {
  padding: 0px 0px 0px 0px!important;
  background-color: #f5f8fa;
}
.menu-bg {
  background-color: #ffffff
}
@media (min-width: 768px) {
  .body-bg {
    padding: 0px 0px 0px 0px!important;
  }

}

.left {
  float: left;
}
.right {
  float: right;
  overflow:hidden;
  height:auto;
}

header {
  width: 100%;
  box-shadow: 0px 3px 2px -3px #c3c3c3;
  margin-bottom: 1px;
  background-color:#009FFF;

}

.page-header{
  margin: 0px 0 20px !important;
  height:990px;
}
main{

}

.logo {
  color: #ffffff;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  display:inline-block;
  margin-right: 40px;
}

.top-menu {
  float: right;
}
.top-menu img {
  position: absolute;
  top: 5px;
  right: 16px;
}
.top-menu p {
  width: 70px;
  position: absolute;
  top: 40px;
  color: #cdcdcd;
  right: 5px;
  text-align: center;
  font-size: 12px;
}
.top-menu .md-button {
  margin: 0px 0px 0px 16px !important;
}
.top-menu img {
  width: 46px;
  height: 46px;
}

.dividerdemoBasicUsage .face {
  border-radius: 30px;
  width: 48px;
  margin: 16px;
}

.box{
  min-height: 500px;
}
.flex{
  display: flex;
}

.flex > .boxR{
  margin: 0px 0 0px 15px;

}

.flex > .boxL{
  margin: 0px 15px 0px 0;
}


md-toolbar:not(.md-menu-toolbar){
  color: #ffffff;
  background-color:rgb(255,255,255);
  border-bottom: 1px solid rgb(224,224,224);
}

.md-toolbar-tools{
  color:#000000;
}


.chipsdemoStaticChips p.note {
  font-size: 12px; }

.p70{
  width:70%;
}

.p30{
  width:30%
}

#box-words{
  width:300px;
  min-width:300px;
  float: right;

}

#box-texts{
  width:100%;
  max-width:980px;
  margin-right:15px;
}

.box-main{
  width:100%;
  margin:0px;
}

.border{
  border: 1px solid rgb(224,224,224);
}

a.md-button.md-primary.md-raised, a.md-button.md-primary.md-fab, .md-button.md-primary.md-raised, .md-button.md-primary.md-fab,
a.md-button.md-primary.md-raised:hover, a.md-button.md-primary.md-fab:hover, .md-button.md-primary.md-raised:hover, .md-button.md-primary.md-fab:hover{
  border: 0px;
  box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
  background-color:transparent;
  margin:0px;
}




.inputdemoBasicUsage md-datepicker {
  margin-top: 18px; }
.inputdemoBasicUsage .md-datepicker-button {
  height: 36px;
  width: 36px;
  line-height: 36px; }
.inputdemoBasicUsage .md-datepicker-input-container {
  margin-left: 2px; }



/* Colors */
.black{
 color:black;
}

.bg-ltblue{
  background-color:#ECF3F7;
}

.dark{
  background-color:#323232;
}


md-input-container.md-input-focused >  label{
  color:white !important;
}

md-input-container >  label{
  color:white !important;
}
md-input-container.md-input-focused input ,
md-input-container.md-input-focused textarea{
  border-bottom-color: gainsboro !important;
}

md-input-container textarea{
  border-bottom-color: gainsboro !important;
}


md-input-container{
  padding-bottom:9px!important;
}

/* Write */
#writeTitle > input{
  padding-bottom: 5px;
}


md-toolbar{
  min-height:50px !important;
  height: 50px;
}


.md-char-counter{
  margin-right:15px;
}

.point{
  position: absolute;
  top:36px;
  left:30px;
}

md-tabs{
  color: #e1e1e1;
}


.p-margin{
  padding-right:10px;
  padding-left:10px;
}


.border-bottom{
  border-bottom: 1px solid #888888;
}

.border-top{
  border-top: 1px solid rgb(224,224,224);
}


/* login page */

.logo {
  color: #FFFFFF;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-size: 20px;
  display:inline-block;
  line-height: 60px;
  margin-top: 10px;
}

.menu-left {
  float: left;
  line-height: 35px;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  border-bottom:5px solid rgba(30, 47, 69, 0);
}

.menu-right {
  float: right;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #ffffff;
}

.login-header {
  font-family: 'Helvetica Neue';
  font-weight: lighter;
  font-style: italic;
  font-size: 45px;
  margin-top: 40px;
}

.login-content {
  font-family: 'Helvetica Neue';
  font-weight: lighter;
  font-size: 20px;
  margin-top: 30px;
}

.login-box1, .write-box {
  box-shadow: 0px 3px 5px -3px #777777;
  padding: 20px;
  background-color: #FFFFFF;
}

.login-box1 {
  background-size: cover;
  background-image:url('../images/speecher-login-background.png');
  padding: 50px 0px 70px 40px;
  margin-bottom: 15px;
}

.login-facebook {
  width: 280px;
  color: white;
  background-color:#3b5998;
  margin-top: 40px;
}

.login-google {
  width: 280px;
  color: white;
  background-color:#d34836;
}

.icon-margin {
  margin-right: 8px;
}

/* write page */

.script-title {
  margin: 10px;
}

.script-content {
  width: 300px;
  min-height: 500px;
  margin-bottom: 10px;
}


.trans-box {
  background-color:rgba(255, 0, 0, 0);;
  /*box-shadow: 0px 3px 2px -3px #c3c3c3;*/
  padding: 15px;
  margin-bottom: 15px;
}

.blue-box {
  background-color:#ECF3F7;
  /*box-shadow: 0px 3px 2px -3px #c3c3c3;*/
  padding: 15px;
  margin-bottom: 15px;
}

.write-box {
  background-color: #FFFFFF;
  /*box-shadow: 0px 3px 2px -3px #c3c3c3;*/
  padding: 15px;
  margin-bottom: 15px;
}
::-webkit-input-placeholder {
  color: #555555 !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: #555555 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #555555 !important;
}

:-ms-input-placeholder {
  color: #555555 !important;
}

input:-moz-read-only {
  background: #ffffff !important;
}

input:read-only {
  background: #ffffff !important;
}

.noresize {
  resize: none;
}

.vresize {
  resize: vertical;
}

.hresize {
  resize: horizontal;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 20px;
  text-align: right;
  cursor: inherit;
  display: block;
}

.write-btn {
  height: 34px;
  float: right;
}

.btn-hidden {
  visibility: hidden;
  margin-bottom: 15px;
}

.btn-complete {
  float: right;
  color: #ffffff;
  background-color: #51A7F9;
  border: 1px solid #51A7F9 !important;
  margin-left: 15px;
}

/* index page */

h4 {
  margin-top: 0px !important;
}

.badge {
  margin-left: 7px !important;
  background-color: #51A7F9 !important;
}

.script-box .btn-test {
  position: absolute;
  float: right;
  visibility:hidden;
}

.script-box:hover .btn-test{
  visibility:visible;
  background-color: #eeeeee;
}

.col-sm-3.col-md-3 {
  padding: 5px !important;

}

.border {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
}
.no-border-top {
  border-top: 0px solid #c3c3c3 !important;
}
.tab-box {
  background-color: #FFFFFF;
  /*box-shadow: 0px 3px 2px -3px #c3c3c3;*/
  border: 1px solid #e3e3e3;
  padding: 15px;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom:10px;
}

.gray{
  color: lightgray;
}
.black{
  color: black;
}

md-switch.md-default-theme.md-checked, md-switch.md-checked .md-thumb {
  background-color: #51A7F9;
}

md-switch.md-default-theme.md-checked, md-switch.md-checked .md-bar {
  background-color: #73c9Fa;
}

.margin-top{
  margin-top:25px;
}

.padding-bottom{
  padding-bottom:20px;
}


.p-menu{
  padding: 10px 5px 0px 5px;
}

/* detail page */
.detail-btn-history, .detail-btn-test {
  background-color: #ffffff !important;
  border-color: #51A7F9 !important;
  color: #51A7F9 !important;
}

del {
  display: none;
}

ins {
  background-color: rgba(255, 0, 0, 0.50);
  text-decoration: none;
}
.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .debt-be-gone {
  font-weight: bold;
  color: blue;
  text-decoration: underline; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }


.wrapper
{
  max-width:30em;
  margin:2em auto;
}

.scrollme
{
  padding:2em;
  border:1em solid #e8e8e8;
  perspective:600px;
}

.animateme
{
  width:80%;
  padding:10%;
  background:#e8e8e8;
  transform-origin:center center;
}


.per50{
  width:50%;
}

.per100{
  width:100%;
}


.view-nb{
  border: 0px solid #fff !important;
  background-color: transparent !important;
}

/* New UI */

.none {
  text-decoration: none !important;
  color:#333;
  margin:0px !important;
}

.btn-simple {
  color: #51A7F9;
  background-color: white;
  border: 1px solid #51A7F9 !important;
  border-radius:20px !important;
}

/* Index */

.script-list {
  width:60%;
  float:left;
  min-height:600px;
}

@media screen and (min-width: 768px) {
  .script-list {
    width:80%;
  }
}

.script-list-box {
  box-shadow: 0px 3px 5px -3px #777777;
  padding: 0px;
  background-color: #FFFFFF;
  height: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.script-list-content-box {
  padding: 20px;
}

.script-list-content {
  color:#777777;
  margin:0px !important;
  font-size:1px;
  height:100px;
  overflow: hidden;
}

.summary-box {
  padding: 5px 20px 5px 20px;
  height: 70px;
}

.summary-script-box {
  width: 80%;
  float: left;
  display: block;
}

.summary-script-date {
  color:#777777; font-size:8px;
}

.summary-test-box {
  width: 20%;
  float: right;
  padding-top: 11px;
  display: block;
}

.summary-test-number, .summary-test-score {
  color: #777777;
  font-size: 8px;
}

.summary-go-test {
  width: 20%;
  float: right;
  padding-top: 22px;
  display: none;
}

.summary-go-text {
  color: #777777;
  font-size: 12px;
  font-weight: bold;
}

.summary-box {
  background-color: #ffffff;
}

.summary-box:hover {
  background-color: rgba(238, 238, 238, 0.3);
  cursor: pointer;
}

.summary-box:hover .summary-go-test {
  display: block;
}

.summary-box:hover .summary-test-box {
  display: none;
}

.score-box {
  height:10px;
  background-color:#eeeeee;
}

.score-bar {
  height:10px;
  background-color: rgba(83, 171, 255, 0.53);
}

.word-list {
  width:40%;
  min-height:600px;
  float:right;
  padding:10px;
}

@media screen and (min-width: 768px) {
  .word-list {
    width:20%;
  }
}

.word-list-title {
  color:#777777;
  margin-top:0px !important;
}

.word-list-btn {
  float: right;
  background-color: #eee;
  border-radius:20px !important;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
}

.word-list-btn:hover {
  background-color: rgba(83, 171, 255, 0.53) !important;
}

.highScore {
  background-color: rgba(255, 146, 120, 0.8) !important;
}

.middleScore {
  background-color: rgba(255, 202, 174, 0.81);
}

.modal {
  text-align: center;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 95% !important;
  padding: 0;
}

.modal-content {
  /*border-radius: 0 !important;*/
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 550px !important;
    padding: 0;
  }
}

.modal-test-type {
  color: #337ab7;
  margin-left: 10px !important;
  margin-right: 30px !important;
}

.btn-timer {
  padding: 0px 15px 0px 15px !important;
  color: #aaaaaa !important;
  background-color: white !important;
  background-image: none !important;
  border: 1px solid #51A7F9 !important;
}

.btn-timer.active {
  color: #FFFFFF !important;
  background-color: #51A7F9 !important;
  text-shadow: none !important;
  border: 1px solid #51A7F9 !important;
}

.btn-timer-none {
  padding: 0 !important;
  margin-right: 30px;
}

.btn-timer-time {
  height: 22px;
  width: 39px;
  text-align: right;
  border: none;
  border-bottom: 1px solid #cccccc;
}

.counter {
  color: #51A7F9;
  font-size: 150px;
  font-weight: bolder;
}

.progress {
  height: 80px !important;
  width: 220px !important;;
  margin:20px auto !important;;
}

.progress-timer {
  position:absolute;
  width: 220px;
  text-align:center;
}

.progress-timer-font {
  color: rgba(213, 213, 213, 0.5);
  font-size:80px;
  font-weight: bolder;
  line-height:80px;
}

.no-deco{
  text-decoration: none !important;
}
.final {
  color: black;
}

.interim {
  color: grey;
}

