body{
  max-width:1300px;
  margin:auto !important;

}
.left {
  float: left;
}
.right {
  float: right;
}
header {
  width: 100%;
  height: 70px;
  box-shadow: 0px 3px 15px #888888;
  margin-bottom: 6px;
  background-color:#323232;
}

main{

}
.logo {
  color: #cdcdcd;
  font-size: 30px;
  margin: 16px;
}
.top-menu {
  float: right;
  margin: 16px 76px 16px 16px;
}
.top-menu img {
  position: absolute;
  top: 5px;
  right: 16px;
}
.top-menu p {
  width: 70px;
  position: absolute;
  top: 40px;
  color: #cdcdcd;
  right: 5px;
  text-align: center;
  font-size: 12px;
}
.top-menu .md-button {
  margin: 0px 0px 0px 16px !important;
}
.top-menu img {
  width: 46px;
  height: 46px;
}

.dividerdemoBasicUsage .face {
  border-radius: 30px;
  width: 48px;
  margin: 16px;
}

.box{
  min-height: 500px;
}
.flex{
  display: flex;
}

.flex > .boxR{
  margin: 0px 0 0px 15px;

}

.flex > .boxL{
  margin: 0px 15px 0px 0;
}


md-toolbar:not(.md-menu-toolbar){
  color: #ffffff;
  background-color:rgb(255,255,255);
  border-bottom: 1px solid rgb(224,224,224);
}

.md-toolbar-tools{
  color:#000000;
}


.chipsdemoStaticChips p.note {
  font-size: 12px; }

.p70{
  width:70%;
}

.p30{
  width:30%
}

#box-words{
  width:300px;
  min-width:300px;
  float: right;

}

#box-texts{
  width:100%;
  max-width:980px;
  margin-right:15px;
}

.box-main{
  width:100%;
  margin:0px;
}



.border{
  border: 1px solid rgb(224,224,224);
}


a.md-button.md-primary.md-raised, a.md-button.md-primary.md-fab, .md-button.md-primary.md-raised, .md-button.md-primary.md-fab,
a.md-button.md-primary.md-raised:hover, a.md-button.md-primary.md-fab:hover, .md-button.md-primary.md-raised:hover, .md-button.md-primary.md-fab:hover{
  border: 0px;
  box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
  background-color:transparent;
  margin:0px;
}




.inputdemoBasicUsage md-datepicker {
  margin-top: 18px; }
.inputdemoBasicUsage .md-datepicker-button {
  height: 36px;
  width: 36px;
  line-height: 36px; }
.inputdemoBasicUsage .md-datepicker-input-container {
  margin-left: 2px; }



/* Colors */
.black{
 color:black;
}

.dark{
  background-color:#323232;
}


md-input-container.md-input-focused >  label{
  color:white !important;
}

md-input-container >  label{
  color:white !important;
}
md-input-container.md-input-focused input ,
md-input-container.md-input-focused textarea{
  border-bottom-color: gainsboro !important;
}

md-input-container textarea{
  border-bottom-color: gainsboro !important;
}


md-input-container{
  padding-bottom:9px!important;
}

/* Write */
#writeTitle > input{
  padding-bottom: 5px;
}


md-toolbar{
  min-height:50px !important;
  height: 50px;
}


.md-char-counter{
  margin-right:15px;
}

.point{
  position: absolute;
  top:36px;
  left:30px;
}




md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){
  color:rgb(100, 100, 100);
}

md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused{
  color:rgb(50, 50, 50);

}

md-tabs{
  color: #e1e1e1;
}


.p-margin{
  padding-right:10px;
  padding-left:10px;
}


.border-bottom{
  border-bottom: 1px solid #888888;
}

.border-top{
  border-top: 1px solid rgb(224,224,224);
}


.border{
  border: 1px solid rgb(224,224,224);
  border-radius: 5px;
}
