.flex
  div(ng-cloak='',style="width:100%;")
    md-content(style="margin-top:4px;")
      md-tabs(md-dynamic-height='', md-border-bottom='')
        md-tab(label='대본읽기')
          md-content.md-padding
            p 등록한 대본을 보면서 읽을 수 있도록, 대본을 보여주는 상태로 테스트를 진행합니다.
        md-tab(label="빈칸테스트")
          md-content.md-padding
            p  등록한 대본의 일부를 랜덤 빈칸으로 비워둔 상태로 테스트를 진행합니다.
        md-tab(label='실전테스트')
          md-content.md-padding
            p 등록한 대본을 이용한 마지막 실전 테스트입니다. 대본의 내용을 보지 않고 테스트를 진행합니다

    .flex(style="height:30px;")
      p(style="margin: 6px 5px 0px 15px;") 발표시간 설정
      input(type="number",placeholder="minute", value="5",style="width:50px;")
      p(style="margin: 6px 15px 0px 1px;") 분

    .flex(style="margin: 6px 0 0px 15px;")
      md-switch.md-primary(md-no-ink='', aria-checked="true",aria-label='발표시간 설정하기', ng-model='data.cb1',style="margin:0 0px 0px 15px;")
      div.btn-group(role='group', aria-label='First group', style="margin-left:22px;")
        button.btn.btn-default(type='button') 1분
        button.btn.btn-default(type='button') 3분
        button.btn.btn-default(type='button') 5분
        button.btn.btn-default(type='button') 10분

    .border-top(width:100%; ,style="margin:20px 0 20px 0 ;")
      p page id : {{ test.id }}
      center
        a.center.btn.btn-primary.btn-lg(href="test/", role="button", style="margin-top:15px;") 시작
