.container
  .simple-box
    .input-group
      input.form-control(type='text', placeholder="{{vm.scriptTitle}}", ng-model="vm.scriptTitle", ng-readonly="!vm.scriptIsModifing")
      a.input-group-addon.detail-btn-history(href='/#/result/{{vm.scriptId.script_id}}') 테스트 기록보기
  .simple-box(ng-show="vm.wrongWord")

    h4 자주 틀리는 단어
    ul.nav.nav-pills(role='tablist')
      li(role='presentation', ng-repeat='item in vm.wrongWordAll')
        a.btn-word(ng-click="vm.showWrongWordDialog(item)")
          | {{item._id}}
          span.badge {{item.wrongCount}}
  .simple-box
    textarea.form-control.noresize.script-content(placeholder="{{vm.scriptContent}}", ng-model="vm.scriptContent", ng-readonly="!vm.scriptIsModifing")
    button.btn-hidden
    button.btn.btn-complete(ng-click='vm.saveScript()', ng-show='vm.scriptIsModifing') 완료
    button.btn.btn-test(ng-click='vm.modifyScript(false)', ng-show='vm.scriptIsModifing') 취소
    button.btn.btn-test(ng-click='vm.deleteScript()' ng-show='!vm.scriptIsModifing') 삭제
    button.btn.btn-save(ng-click='vm.modifyScript(true)' ng-show='!vm.scriptIsModifing') 수정
