.container
  .script-list
    .col-xs-12.col-sm-6.col-md-4.col-lg-3(style="padding: 10px !important", ng-repeat='item in vm.scriptList')
      .script-list-box
        a(href='/#/detail/{{item.script_id}}')
          .script-list-content-box
            p.script-list-content {{item.script_content}}
          hr.none
        a(href='', ng-click="vm.moveChoice(item)")
          .summary-box
            .summary-script-box
              h5 {{item.script_title}}
              p.summary-script-date {{item.reg_date | limitTo:10}}
            .summary-test-box
              p.summary-test-number(align="right")
                | {{vm.number}}회
              p.summary-test-score(align="right")
                | {{vm.score}}점
            .summary-go-test
              p.summary-go-text(align="right")
                | 테스트
          div()
          .score-box
            .score-bar(style="width:{{vm.score}}%;")
  .word-list
    h5.word-list-title(ng-show="vm.wrongWordAll") 자주 틀리는 단어
    ul.nav.nav-pills(role='tablist')
      li(role='presentation', ng-repeat='item in vm.wrongWordAll')
        a.word-list-btn(ng-click="vm.showWrongWordDialog(item)")
          | {{item._id}}
          span.badge {{item.wrongCount}}
  script(src='../js/tts.js')
