.flex

  #box-texts.left.border.box(ng-cloak='' )
    md-toolbar.md-theme-light
      h3.md-toolbar-tools
        span 대본 목록
    md-content
      md-list
        md-list-item.md-3-line(ng-repeat='item in vm.scriptList')
          .roundtest(style="margin-top:15px; margin-right:15px; opacity:item.opacity",round-progress,max="100",current="item.point",color="#45ccce",bgcolor="#eaeaea",radius="30",stroke="7",semi="false",  rounded="true",  clockwise="false",  responsive="false",  duration="2000",  animation="easeInOutQuart")
          span.point 30%
          .md-list-item-text(id="{{item.script_id}}")
            h3 {{item.script_title}}
            h4 {{item.script_content}}
            p {{item.reg_date}}
          button.md-raised.md-button.md-ink-ripple(ng-click="vm.moveChoice(item)",style="margin-top: 25px;")
            span( style="text-decoration: none; color:black")
              span.ng-scope 테스트하기
            //a(id="{{item.script_id}}", ng-href="/#choice", style="text-decoration: none; color:black")
            //  span.ng-scope 테스트하기
            div.md-ripple-container
          md-divider
  #box-words.right.border.box(layout='column', ng-cloak='')
    md-toolbar.md-theme-light
      h3.md-toolbar-tools
        span#dlgOpen 자주 틀리는 단어

    md-chips(ng-repeat='item in vm.wordsDummy', ng-keydown="$mdChipsCtrl.chipKeydown($event)", ng-class="{ 'md-focused': $mdChipsCtrl.hasFocus()}" )
      md-chip(id="{{item.id}}",ng-click="vm.showWrongWordDialog(item.word)") {{item.word}}({{item.count}})





code($mdDialog.clickOutsideToClose(true))

