.container
  .write-box(ng-show="vm.wordsDummy")
    h4 자주 틀리는 단어
    ul.nav.nav-pills(role='tablist')
      li(role='presentation', ng-repeat='item in vm.wordsDummy')
        a.btn-word(href='#')
          | {{item.word}}
          span.badge {{item.count}}
  .row
    .col-sm-3.col-md-3(ng-repeat='item in vm.scriptList')
      a(href='/#/detail/{{item.script_id}}', style="text-decoration: none !important; color:#333;")
        .script-box(style="margin:10px;")
          h4 {{item.script_title}}
          p {{item.script_content}}
          button.btn-test test