link(rel='stylesheet', type='text/css', href='http://mmkjony.github.io/enllax.js/stylesheets/normalize.css', media='screen')
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
link(rel='stylesheet', type='text/css', href='../css/stylesheet.css', media='screen')
link(rel='stylesheet', type='text/css', href='http://mmkjony.github.io/enllax.js/stylesheets/github-light.css', media='screen')
link(rel='stylesheet', type='text/css', href='../css/enllax.css', media='screen')

div#scrollpage(style="background:#202124")
  section.page-header
    img.logo
    h1(style="margin-top:150px; font-size:40sp") You Can Speech
    h2 You Can Speech와 함께 정확하게 말하는 연습을 해보세요<br>이제 당신의 두려움인 대본을 버리고 힘껏 말할 수 있습니다

    p
      button.login-facebook.btn(ng-click='vm.facebookLogin()')
        i.fa.fa-facebook-square.icon-margin
        |Facebook으로 시작하기
    p
      button.login-google.btn(ng-click='vm.googleLogin()')
        i.fa.fa-google-plus.icon-margin
        |Google+로 시작하기
  section.main-content
    .text-center(style="margin-bottom:20px;")
      h1(style="font-size:40px;") FUNCTIONS
    div(style="margin-top:250px;")
      .dem1.bgExample(data-enllax-ratio='1.5', data-enllax-direction='horizontal')
      .bg3.text-center(data-enllax-ratio='.1', style='color: #fff; margin:45px 0px 45px 0px;')
        h1(data-enllax-ratio='3.6', data-enllax-type='foreground', data-enllax-direction='horizontal', style="color:#FF373D;") Script Management
        h1(data-enllax-ratio='.1', data-enllax-type='foreground', data-enllax-direction='horizontal', style="color:#FF6600;") Talking Test
        h1(data-enllax-ratio='-25.0', data-enllax-type='foreground', data-enllax-direction='horizontal', style="color:#FFAC00;") Recording / Listening




  section.page-header(style="background:#FFF")
    .text-center(style="margin-bottom:80px;margin-top:20px;")
      h1.rainbow(style="font-size:40px") ADVANTAGE

    .flex(data-enllax-ratio='0.2', data-enllax-type='foreground', data-enllax-direction='vertical', style="margin-top:220px;")
      .mini-box.rainbow1
        h1  영어 발표 연습
        p(style="font-size:20px;") 영어 말하기 발표를 앞둔 사람이<br> 준비한 대본을 이용해서<br> 발표를 연습하게 도와줍니다 <br>

      .mini-box.rainbow2
        h1  내 스피치 대본 관리 및 실시간 발음 비교
        p(style="font-size:20px;") 발표와 관련된 영어 스피치 대본을 보관해줍니다<br>또한 테스트 사이에, 실시간으로 내 발음과 지문의 다른 부분을 비교해서 보여줍니다<br><br>
    .flex(data-enllax-ratio='0.5', data-enllax-type='foreground', data-enllax-direction='vertical', style="margin-top:150px;")
      .mini-box.rainbow1
        h1 테스트별 스피치 녹음파일 관리
        p(style="font-size:20px;") 테스트 종료 후,  내 테스트의 녹음 파일을 보관 및 다시듣기 할 수 있도록 도와줍니다<br><br><br>


      .mini-box.rainbow2
        h1 테스트 결과 관리 및 자주 틀리는 단어
        p(style="font-size:20px;")대본별 테스트 결과 관리 및, 자주 틀리는 단어를 알려줍니다<br><br>


  section.page-header(style="background:#000; ")
    .text-center(style="margin-bottom:80px;margin-top:20px;")
      h1.white(style="font-size:40px") TEAM

    .flex(data-enllax-ratio='0.5', data-enllax-type='foreground', data-enllax-direction='vertical', style="margin-top:280px; padding-top:120px;")
      .profile-box
        img.left(src="../images/icon_bsh.png", style="width:150px; height:150px; padding:5px;")
        div
          h1 반상현
          p
          |  팀장<br>
          |  설명을 넣어야되는데 뭐가 어울릴지 감이 안와아아아아아<br>
          |  설명을 넣어야되는데 뭐가 어울릴지 감이 안와아아아아아<br>
      .profile-box
        img.img-circle.img-thumbnail.left(src="../images/icon_sojin.png", style="width:150px; height:150px; padding:5px;")
        div
          h1 오소진
          p
          |  설명을 넣어야되는데 뭐가 어울릴지 감이 안와아아아아아<br>
          |  설명을 넣어야되는데 뭐가 어울릴지 감이 안와아아아아아<br>
          |  설명을 넣어야되는데 뭐가 어울릴지 감이 안와아아아아아<br>
    .flex(data-enllax-ratio='0.5', data-enllax-type='foreground', data-enllax-direction='vertical', style="margin-top:10px;")
      .profile-box
        img.img-circle.img-thumbnail.left(src="../images/icon_minki.png", style="width:150px; height:150px; padding:5px;")
        div
          h1 김민기
          p
          |  설명을 넣어야되는데 뭐가 어울릴지 감이 안와아아아아아<br>
          |  설명을 넣어야되는데 뭐가 어울릴지 감이 안와아아아아아<br>
          |  설명을 넣어야되는데 뭐가 어울릴지 감이 안와아아아아아<br>
      .profile-box
        img.img-circle.img-thumbnail.left(src="../images/icon_jr.png", style="width:150px; height:150px; padding:5px;")
        div
          h1 문종락
          p
          |  설명을 넣어야되는데 뭐가 어울릴지 감이 안와아아아아아<br>
          |  설명을 넣어야되는데 뭐가 어울릴지 감이 안와아아아아아<br>
          |  설명을 넣어야되는데 뭐가 어울릴지 감이 안와아아아아아<br>

  .dl
  section.main-content
    footer.site-footer
      span.site-footer-owner
        | Copyright © 2015,
        a(href='https://github.com/mmkjony') Software Maestro 6기 "Can You Speech"
        | .
      span.site-footer-credits


  script(src='http://mmkjony.github.io/enllax.js/jquery.enllax.min.js')
  script(src='../js/enllax.js')
//script.
//  (function($){
//    //Plugin activation
////    $('#some-id').enllax();
//    //            $('#some-id').enllax();
//    //            $('selector').enllax({
//    //                type: 'background', // 'foreground'
//    //                ratio: 0.5,
//    //                direction: 'vertical' // 'horizontal'
//    //            });
//  })(jQuery);


//.container
//  .login-box1
//      h2.login-header
//        |  Don't Look The Paper
//      p.login-content
//        | You Can Speech와 함께 정확하게 말하는 연습을 해보세요
//        br
//        | 이제 당신의 두려움인 대본을 버리고 힘껏 말할 수 있습니다
//      p
//        button.login-facebook.btn(ng-click='vm.facebookLogin()')
//          i.fa.fa-facebook-square.icon-margin
//          |Facebook으로 시작하기
//      p
//        button.login-google.btn(ng-click='vm.googleLogin()')
//          i.fa.fa-google-plus.icon-margin
//          |Google+로 시작하기
//
//  tts(tts-text='Hello world', tts-lang='en')
