link(rel='stylesheet', type='text/css', href='http://mmkjony.github.io/enllax.js/stylesheets/normalize.css', media='screen')
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
link(rel='stylesheet', type='text/css', href='../css/stylesheet.css', media='screen')
link(rel='stylesheet', type='text/css', href='http://mmkjony.github.io/enllax.js/stylesheets/github-light.css', media='screen')
link(rel='stylesheet', type='text/css', href='../css/enllax.css', media='screen')


div.height100p(style="background:#ffffff; ")
  section.page-header()
    //img(src="../images/intro_top.png", style="width:100%; height:100px;")
    h1(style="margin-top:50px; font-size:70px")
      img.img-circle.icon-custom(src="../images/logo.png", style="margin: 0px 5px 10px; 5px")
      b SPEECHER
    h1(style="font-weight: 100;line-height:1.4em") SPEECHER와 함께 정확하게 말하는 연습을 해보세요<br>이제 당신의 두려움인 대본을 버리고 힘껏 말할 수 있습니다
    p
      button.login-facebook.btn(ng-click='vm.facebookLogin()')
        i.fa.fa-facebook-square.icon-margin
        | Facebook으로 시작하기
    p
      button.login-google.btn(ng-click='vm.googleLogin()')
        i.fa.fa-google-plus.icon-margin
        | Google+로 시작하기


    .text-center(style="margin-top:40px;")
      img.icon-custom(src="../images/icon1.png")
      img.icon-custom2(src="../images/icon2.jpg")
      img.icon-custom(src="../images/icon10.png",style="padding:3px")
      img.icon-custom2(src="../images/icon4.png")
      img.icon-custom2(src="../images/icon5.png")
      img.icon-custom2(src="../images/icon6.png")
      img.icon-custom(src="../images/icon7.png")

  div.img-blue.div-desc(style="")
    .text-center(style="padding:20px; margin:0px 300px 0px 300px;")
      .p333.item-desc
        img(src="../images/compare.png", style="height: 100px; display:block; margin: 0 auto; ")
        span.text-desc(style="display:block; margin: 20px auto;")
          b 실시간 발음 비교
      .p333.item-desc
        img(src="../images/result.png", style="height: 100px; display:block; margin: 0 auto; ")
        span.text-desc(style="display:block; margin: 20px auto;")
          b 스피치 정확도 측정
      .p333.item-desc
        img(src="../images/voice.png", style="height: 100px; display:block; margin: 0 auto; ")
        span.text-desc(style="display:block; margin: 20px auto;")
          b 연습 음성 듣기


  div.line-custom

div.height100p
  .text-center.ltblue
    h1.dkblue(style="margin:20px 0px 40px 0px; font-size:50px; padding:100px;")
      b 소프트웨어 마에스트로 6기
  div.line-custom
  .row(style="margin:0 200px 0 200px")
    .col-lg-6.col-md-6.col-sm-6
      .relative.padding10
        img.icon-custom4.img-thumbnail.img-circle(src="../images/icon_bsh.png")
        div.text-center
          span.team-title.span-lg 반상현
          span.team-text <br>
            a.a-black https://bitbucket.org/appulele/
      .relative.padding10
        img.icon-custom4.img-thumbnail.img-circle(src="../images/icon_sojin.png")
        div.text-center
          span.team-title.span-lg 오소진
          span.team-text <br>
            a.a-black https://github.com/jaisonoh

    .col-lg-6.col-md-6.col-sm-6
      .relative.padding10
        img.icon-custom4.img-thumbnail.img-circle(src="../images/icon_minki.png")
        div.text-center
          span.team-title.span-lg 김민기
          span.team-text <br>
            a.a-black https://github.com/minkikim89
      .relative.padding10
        img.icon-custom4.img-thumbnail.img-circle(src="../images/icon_jr.png")
        div.text-center
          span.team-title.span-lg 문종락
          span.team-text <br>
            a.a-black https://github.com/MoonJR
      h3.right.dkblue(style="padding-right:10px;") 그리고 우리 우상훈 멘토님

  .row
    .col-lg-12.col-md-12.col-sm-12


  section.main-content(style="height:80px;")
    footer.site-footer
      span.site-footer-owner
        | Copyright © 2015,
        a(href='https://github.com/mmkjony') Software Maestro 6기 "SPEECHER"
        | .
      span.site-footer-credits












