.container
  div
    .jumbotron
      h2
        i.ion-images
        |  You Can Speech
      p
        | 그동안 머릿속으로만 외웠던 영어 대본. 이젠
        strong Speecher
        | 와 함께 연습해보세요.

      p
        button(ng-click='vm.facebookLogin()') Sign in with facebook
      p
        button(ng-click='vm.googleLogin()') Sign in with google
