span(style="position:absolute; right:50%; ")
  p.p-timer {{test.current_seconds}}/{{test.timer_seconds}}

.progress(style="width:100%; margin:7px; 5px 0px 5px")
  .progress-bar.progress-bar-info.progress-bar-striped.active(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: {{test.timer_percent}}%;')
    span.sr-only 20% Complete


.flex(style="width:100%;margin-top:10px;")
  .left(style="margin:0 10px 0 10px; width:50%;")
    button.btn.btn-default(type='button', ng-click="test.startTest()") Start
    button.btn.btn-default.hidden(type='button', ng-click="") Stop
