.container
  pre.bs-example.bs-example-padded-bottom
    textarea.form-control.noresize.script-title(placeholder="제목을 지어주세요", ng-model="title", rows="1")

  pre.code sd
    textarea.form-control(placeholder="내용을 넣어주세요", ng-model="content")

    //div.right
    //  input(type='file', ng-file-read='readScript($file)')
    //  button(ng-click='vm.saveScript()') SAVE
    //


