<md-dialog aria-label="단어 상세정보"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background-color: #0081c2">
        <h2 style="color:white">단어 상세정보</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <P>X</P>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <div class="md-dialog-content">

        <p ng-model="vm.">

        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">

    </md-dialog-actions>
  </form>
</md-dialog>
